In [1]:
import pandas as pd
import os
import numpy as np
directory = './data/'

In [7]:
def clean_dataframe(dataframe):
    dataframe = dataframe[['FUND_NAME', 'FUND_CLASSIFICATION','REPORT_PERIOD','MONTHLY_YIELD','AVG_ANNUAL_MANAGEMENT_FEE','TOTAL_ASSETS']]
    filtered_df = dataframe[dataframe['MONTHLY_YIELD'].notnull()]
    filtered_df = filtered_df[filtered_df['AVG_ANNUAL_MANAGEMENT_FEE'].notnull()]
    filtered_df.loc[filtered_df['FUND_CLASSIFICATION'] == 'קרנות חדשות']
    filtered_df.loc[filtered_df['TOTAL_ASSETS'] >= 10]
    return filtered_df

In [8]:
csv_arr = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        print("clean and filter the file: "+filename)
        data = pd.read_csv(directory + filename,encoding='cp1255',
                           dtype={'FUND_NAME':str,
                                  'FUND_CLASSIFICATION':str,
                                  'REPORT_PERIOD':str,
                                  'MONTHLY_YIELD':np.float64,
                                  'AVG_ANNUAL_MANAGEMENT_FEE':np.float64,
                                  'TOTAL_ASSETS':np.float64}) 
        result_df =  clean_dataframe(data)
        print("file result shape: %s" % (result_df.shape,))
        csv_arr.append(result_df)

clean and filter the file: pensianet_investment_2019.csv
file result shape: (1080, 6)
clean and filter the file: pensianet_investment_2016.csv
file result shape: (1753, 6)
clean and filter the file: pensianet_investment_2017.csv
file result shape: (1851, 6)
clean and filter the file: pensianet_investment_2015.csv
file result shape: (1028, 6)
clean and filter the file: pensianet_investment_2018.csv
file result shape: (1921, 6)

In [9]:
final_data = pd.concat(csv_arr)
print("final csv shape: %s" % (final_data.shape,))
final_data.tail()

final csv shape: (7633, 6)

,FUND_NAME,FUND_CLASSIFICATION,REPORT_PERIOD,MONTHLY_YIELD,AVG_ANNUAL_MANAGEMENT_FEE,TOTAL_ASSETS
2048,אלטשולר שחם פנסיה מקיפה מניות,קרנות חדשות,201808,3.05,0.23,10.93
2049,אלטשולר שחם פנסיה מקיפה מניות,קרנות חדשות,201809,-0.45,0.23,12.02
2050,אלטשולר שחם פנסיה מקיפה מניות,קרנות חדשות,201810,-5.15,0.23,15.29
2051,אלטשולר שחם פנסיה מקיפה מניות,קרנות חדשות,201811,1.14,0.23,20.26
2052,אלטשולר שחם פנסיה מקיפה מניות,קרנות חדשות,201812,-5.79,0.23,25.64

In [10]:
final_data.to_csv("final_pensianet_investment.csv",index=False)